@tailwind base;
@tailwind components;

.title {
  @apply text-5xl text-center pb-4;
  color: #333;
  line-height: 1.15;
}

.subtitle {
  @apply text-center text-3xl pb-1;
}

.profile {
  border-radius: 50%;
}

a {
  text-decoration: underline;
}

p {
  text-indent: 2em;
  margin-bottom: 1em;
}

ol, ul {
  list-style: decimal;
  list-style-position: inside;
}

li>p {
  text-indent: 0em;
}

.markdown h1 {
  @apply text-2xl font-bold text-center;
}
  
.markdown h2 {
  @apply text-xl font-bold text-center;
}

.markdown img {
  @apply mx-auto;
}

.section-header {
  @apply text-3xl font-semibold pb-1 pt-4;
  color: #333;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 0.5rem;
}
   
.card {
  border: 2px solid #e7e7e7;
  text-align: center;
  border-radius: 4px;
  padding: .5rem;
  cursor: pointer;
}

.card:hover {
    border: 2px solid #bcbcbc;
}

@tailwind utilities;
