@tailwind base;
@tailwind components;

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

.subtitle {
  @apply title text-3xl;
}

.profile {
  border-radius: 50%;
}

a {
  text-decoration: underline;
}

p {
  text-indent: 2em;
  margin-bottom: 1em;
}

ol, ul {
  list-style: decimal;
}

h1 {
  @apply text-2xl font-bold
}

h2 {
  @apply text-xl font-bold
}

img {
  @apply mx-auto
}

.section-header {
  @apply text-3xl font-semibold py-3;
  color: #333;
}

@tailwind utilities;
